@use '../abstracts/colors' as *;

@each $color, $shade-map in $colors {
  @each $shade, $value in $shade-map {
    .clr-#{$color}-#{$shade} {
      color: $value;
    }
    .bg-#{$color}-#{$shade} {
      background-color: $value;
    }
    .border-sm-#{$color}-#{$shade} {
      border: 1px solid $value;
    }
    .border-md-#{$color}-#{$shade} {
      border: 2px solid $value;
    }
    .border-lg-#{$color}-#{$shade} {
      border: 4px solid $value;
    }
    .border-xl-#{$color}-#{$shade} {
      border: 6px solid $value;
    }
    .decoration-sm-#{$color}-#{$shade} {
      text-decoration: underline 1px solid $value;
    }
    .decoration-md-#{$color}-#{$shade} {
      text-decoration: underline 2px solid $value;
    }
    .decoration-lg-#{$color}-#{$shade} {
      text-decoration: underline 4px solid $value;
    }
    .decoration-xl-#{$color}-#{$shade} {
      text-decoration: underline 6px solid $value;
    }
  }
}

.border-sm {
  border: 1px solid;
}
.border-md {
  border: 2px solid;
}
.border-lg {
  border: 4px solid;
}
.border-xl {
  border: 6px solid;
}
