$total-columns: 12;

.grid {
  display: grid;
  // gap: 1rem;
  grid-template-columns: repeat($total-columns, 1fr);
}

[class*='col-'] {
  grid-column: 1 / -1;
}

@for $column-count from 1 through $total-columns {
  .col-#{$column-count} {
    grid-column: span $column-count;
  }
  @media (min-width: 30rem) {
    .col-sm-#{$column-count} {
      grid-column: span $column-count;
    }
  }
  @media (min-width: 45rem) {
    .col-md-#{$column-count} {
      grid-column: span $column-count;
    }
  }
  @media (min-width: 60rem) {
    .col-lg-#{$column-count} {
      grid-column: span $column-count;
    }
  }
}

.gap-0 {
  gap: 0;
}
.gap-xs {
  gap: 0.4rem;
}
.gap-sm {
  gap: 0.8rem;
}
.gap-md {
  gap: 1rem;
}
.gap-lg {
  gap: 1.5rem;
}
.gap-xl {
  gap: 2.5rem;
}

.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.align-start {
  align-content: start;
}
.align-end {
  align-content: end;
}
.align-center {
  align-content: center;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-center {
  align-self: center;
}

.w-full {
  width: 100%;
}
